html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* =========================== */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: url(balatroBackground.jpeg);
    background-size: 100vw 100vh;
}
.grid {
    display: grid;
    grid-template-columns: repeat(9, 100px);
    grid-gap: 10px;
}

.card {
    width: 71px;
    height: 95px;
    position: relative;
    perspective: 1000px;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    transform: rotate3d(1, 1.5, 0, 180deg);
    transform-origin: 50% 50%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.card:hover .card-inner {
    transform: rotate3d(1, 1.5, 0, 0deg);
}

.front, .back {
    position: absolute;
    width: 71px;
    height: 95px;
    backface-visibility: hidden;
    border-radius: 5px;
    overflow: hidden;
}

.front {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate3d(1, 1.5, 0, 0deg);
}

.back {
    background-image: url("https://oyster.ignimgs.com/mediawiki/apis.ign.com/balatro/3/3e/Balatro-nebula_deck.png?width=113&dpr=2&format=jpg&auto=webp&quality=80");
    background-size: cover;
    background-position: center;
    transform: rotate3d(1, 1.5, 0, 180deg);
 }
