html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*  */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins',sans-serif;
  font-size: 16px;
}


.container {
  max-width: 1109px;
  width: 100%;
  margin: 0 auto;
  display: block;
}

.main-header {
  float: left;
  width:100%;
  padding-top: 15px;
  padding-bottom: 17px;
  margin-bottom: 30px;
}

.logo {
  float:left;
  margin-top: 8px;
}

.logo>img {
    height: 32px;
}

.nav-bar {
  float: right;
  font-size: 14px;
  line-height: 2em;
}

.nav-bar ul {
  float: left;
  margin-right: 54px;
  padding-top: 9px;
}

.nav-bar a {
  color: #2F281E;
  text-decoration: none;
}

.nav-bar li {
  display: inline-block;
  margin-right: 27px;
}

.nav-bar li:last-child {
  margin-right: 0;
}

.btn {
  font-size: 16px;
  padding: 0 23px 0 25px;
  line-height: 46px;
  height: 46px;
  float: left;
  background: #FF9900;
  color: #fff !important;
  border-radius: 4px;
  font-weight: 600;
  margin-right: 14px;
}

.btn-alt {
background: transparent;
color: black !important;
border: 1px solid #BCD0E5;

}
.btn:last-child {
  margin-right: 0;
}

/* =================== main style ================= */

main {
    width: 100vw;
    height: 220vh;
}

.first-div-container {
    width: 100vw;
    height: 100vh;
    padding: 90px 98px;
    margin-bottom: 20vh;
    background-color: #CC8B8C;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 40px;
}

.ribon-div {
    width: 40vw;
    height: 20vh;
    padding: 20px;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.first-ribon-div {
    background-color: #FFBF46;
    align-items: end;
}

.second-ribon-div {
    background-color: #8ACB88;
    align-items: stretch;
    justify-content: center;
}

.third-ribon-div {
    background-color: #648381;
    align-items: center;
    justify-content: end;
}

.fourth-ribon-div {
    background-color: #575761;
    justify-content: space-between;
}

.fifth-ribon-div {
    background-color: #E4FDE1;
    align-items: stretch;
    justify-content: space-around;
}

.sixth-ribon-div{
    background-color: #6C969D;
    align-items: center;
    justify-content: space-around;
}

.squares-div {
    width: 78px;
    border-radius: 8px;
}

.first-ribon-div .squares-div {
    height: 78px;
    background-color: #575761;
}

.second-ribon-div .squares-div {
    background-color: #648381;
}

.third-ribon-div .squares-div {
    height: 78px;
    background-color: #E4FDE1;
}

.fourth-ribon-div .squares-div {
    height: 78px;
    background-color: #8ACB88;
}

.fourth-ribon-div .squares-div:nth-child(3) {
    align-self: flex-end;
}

.fifth-ribon-div .squares-div{
    background-color: #FFBF46;
    align-items: baseline;
}

.fifth-ribon-div .squares-div:nth-child(2) {
    height: 64px;
}

.sixth-ribon-div .squares-div {
    height: 78px;
    width: 78px;
    background-color: #FAF2A1;
}

.sixth-ribon-div .squares-div:nth-child(2) {
    flex-grow: 0.5;
}



/* =================================================================== */
.second-div-container {
    width: 100vw;
    height: 100vh;
    padding: 120px;
    background-color: #7180AC;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
}

.second-square-div {
    width: 273px;
    height: 220px;
    padding: 20px;
    background-color: #fff;
    column-gap: 20px;
}

.second-square-div:nth-child(odd) {
    background-color: #2B4570;
}

.second-square-div:nth-child(even) {
    background-color: #A8D0DB;
}

.second-square-div:nth-child(1) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.second-square-div:nth-child(2) {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
    flex-wrap: wrap-reverse;
    
}

.second-square-div:nth-child(3) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 80px;
    column-gap: 40px;
}

.second-square-div:nth-child(4) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    row-gap: 80px;
    column-gap: 40px;
}

.second-square-div:nth-child(5) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}




.circle-div { 
    width: 50px;
    height: 50px;
    background-color: #E49273;
    border-radius: 50%;
    margin: 0px;
    padding: 0px;
}