html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ===============================================  */

body {
    width: 1440px;
    padding-top: 40px;
    background-color: #F4F6F7;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-header {
    width: 1170px;
    height: 36px;
    position: fixed;
    left: 135px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__img {
    width: 130px;
    height: 36px;
}

.nav {
    width: 246px;
    height: 12px;
}

.nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav__link {
    width: 54px;
    height: 12px;
}

.nav__link-text {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: #13253A;
}

/* =============================== main ======================================== */


.hero {
    width: 1168px;
    height: 413px;
    position: absolute;
    top: 220px;
    left: 135px;
    /* margin: 220px auto 180px auto; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hero__content {  
    width: 470px;
    height: 261px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.hero__intro {
    color: #2557AB;
    font-size: 16px;
    text-align: left;
    font-family: "Poppins", sans-serif;
}

.hero__title {
    height: 63px;
    color: #13253A;
    font-size: 46px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
}

.hero__img {
    width: 568px;
    height: 412px;
}

.text_pharagrap {
    color: #13253A;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 27px;
    text-align: left;
    font-weight: 200;
}

.btn {
    width: 336px;
    height: 60px;
    font-family: "Poppins", sans-serif;
    background-color: #FF7F57;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 6px;
    font-size: 17px;
    font-weight: 600;
    display: flex;             
    justify-content: center;   
    align-items: center;       
    border: none;
}

/* ============== services ======================== */

.services-container {
    width: 1440px;
    height: 525px;
    position: absolute;
    left: 0;
    top: 810px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.services {
    width: 1170px;
    height: 306px;
    margin: 119px auto 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

.services__intro {
    color: #2557AB;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}

.services__title {
    font-family: "Poppins", sans-serif;
    font-size: 38px;
    text-align: center;
    color: #13253A;
    font-weight: 200;
}

.diciplines {
    width: 1170px;
    height: 200px;
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
}

.services__list {
    width: 1170px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.service {
    width: 334px;
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.service__img {
    width: 64px;
    height: 64px;
}

.service__title {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #3B4D6C;
}

.service__text {
    text-align: center;
    width: 370px;
}

/*  ==================== stats =========================== */

.stats {
    width: 1440px;
    height: 205px;
    position: absolute;
    top: 1336px;
    left: auto;
    right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F4F6F7;
}

.stats__list {
    width: 775px;
    height: 85px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.stat {
    height: 85px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.stat__num {
    font-family: "Poppins", sans-serif;
    font-size: 46px;
    font-weight: 300;
    text-align: left;
    color: #13253A;
}

.stat__num .plus{
    color: #FF7F57 !important;
}

.stat__text {
    color: #2557AB;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}
    
/* ======================== about-us =============================== */

.about-us-container{
    width: 1440px;
    height: 700px;

    position: relative;
    top: 1541px;

    background-color: #FFFFFF;

    display: flex;
    align-items: center;
    justify-content: center;
}

.about-us {
    width: 970px;
    height: 500px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
}

.about-us__intro {
    font-size: 16px;
    font-weight: 300;
}

.about-us__title {
    font-size: 36px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    color: #13253A;
}

.about-us__content {
    width: 970px;
    height: 270px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
    column-gap: 30px;
}

.about-us__text {
    font-size: 16px;
    line-height: 27px;
    color: #13253A;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
}

.about-us__text-first {
    width: 370px;
    height: 60px;
    font-size: 20px;
    line-height: 30px;
    font-style: italic;
}

.about-us__text-second {
    width: 370px;
    height: 135px;
}

.about-us__text-third {
    width: 547px;
    height: 120px;
}

.about-us__text-forth {
    width: 547px;
    height: 120px; 
}

.companies {
    width: 970px;
    height: 66px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.companie1 {
    width: 66px;
    height: 66px;
}

.companie2 {
    width: 126px;
    height: 38px;
}

.companie3 {
    width: 271px;
    height: 34px;
}

.companie4 {
    width: 162px;
    height: 23px;
}

.companie5 {
    width: 52px;
    height: 66px;
}